/* ================Grid================ */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: start;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1920px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ================Category================ */
.category-base {
  border: 3px solid var(--category-color, #888);
  border-radius: 14px;
  background: #161b22;
  padding: 20px;
}

.category-title {
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--category-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--category-color);
}

.category-count {
  font-size: 0.75rem;
  background-color: #1f2937; /* bg-gray-800 */
  color: #d1d5db; /* text-gray-300 */
  padding: 2px 12px; /* px-3 py-0.5 */
  border-radius: 9999px; /* rounded-full */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-weight: bolder;
}

/* ================SubCategory================ */
.subcategory {
  margin-top: 16px;
}

.subcategory-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
  padding-left: 12px;
  border-left: 4px solid;
  color: var(--section-color);
  border-color: var(--section-color);
}

/* ================item================ */
.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(31, 41, 55, 0.4);
}

.item-left {
  min-width: 0;
  padding-right: 8px;
}

.item-left-theater {
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.item-right-hall {
  font-weight: 600;
  font-size: 15px;
}
