.filter-wrapper {
	display: flex;
	justify-content: center;
}

.filter-box {
	background: #1c2128;
	border: 1px solid #30363d;
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	box-shadow: 0 10px 25px rgba(0,0,0,.4);
}

.filter-checkbox { 
	accent-color: #238636; 
	width: 18px; 
	height: 18px; 
	cursor: pointer; 
}

.filter-item {
	display: flex;
	align-items: center;
	gap: .5rem;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.875rem;
}

.filter-item span {
	transition: color .2s;
}

.filter-item:hover .filter-text {
	color: var(--hover-color);
}