/*================Ratio================*/
.ratio-tag {
  font-weight: 680;
  font-size: 16px;
  min-width: 4px;
  text-align: center;
}

/*================Badge================*/
.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 50px;
  justify-content: flex-end;
}

.badge-status {
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 900;
  flex-shrink: 0;
  border-radius: 50%;
}

.badge-4k {
  background-color: #ffd700;
  color: #000;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
}

.badge-large {
  background-color: #484f58;
  color: #ffffff;
  font-size: 11px;
}

.badge-device-ratio {
  font-weight: 680;
  font-size: 16px;
  min-width: 4px;
  text-align: center;
}

.badge-placeholder {
  width: 22px;
}
